/***** NAVBAR *****/

.navbar {
    background-color: #ffffff;
    border-radius: 0;
    border-bottom: #3A3A3A solid;
    box-shadow: bottom black;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: #3A3A3A;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:  #1a53ff;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #3A3A3A;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color:#3A3A3A;
    border-color: #3A3A3A;
    background-color: white;
    border-radius: 4px;
    border: 1px solid;
    fill: black;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
    box-shadow: 2px 2px 4px lightgray;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: white;
    color: #1a53ff;
    fill: #242424;
    border-color: #fff;
    box-shadow: 2px 2px 4px lightgray;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/contour-lines.png");
    text-align: center;
    color: black;
    padding: 3%;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
    align-items:center;
    filter: drop-shadow(5px 5px 10px lightgrey);
   
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
    box-shadow: 5px 5px 10px lightgray;
}

.card:hover {
    border-color:#1a53ff;
    border-width: 2px;
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 500px;
    max-width: 250px
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #863ee3;
}

a:hover {
    color:  #1a53ff;
}

.container{
    padding:25px 25px;
}

body {
    background-image: url("../assets/background.png");
    font-family: 'lorem epsum', serif;
    background-color: white;
    color: #242424;
    align-items: center;
}